*.pyc
*.aux
*.log
*.out
*.pdf
*.toc
*.orig
*.o
*.dia~
*.dia.autosave
*.egg-info
.DS_Store
.vscode

*lib/
*bin/
*swig/
*build/
*Build/
*build_*/
*dist/
pymesh/lib
pymesh/swig
pymesh/third_party/
*pymesh2.egg-info/
docs/_build/
PyMesh/third_party/build/
PyMesh/third_party/local/
PyMesh/cmake/SetInstallRpath.cmake
PyMesh/cmake/PythonPrefix.cmake
*.ipynb_checkpoints
