[submodule "PyMesh/third_party/carve"]
	path = PyMesh/third_party/carve
	url = https://github.com/PyMesh/carve.git
[submodule "PyMesh/third_party/cork"]
	path = PyMesh/third_party/cork
	url = https://github.com/PyMesh/cork.git
[submodule "PyMesh/third_party/tetgen"]
	path = PyMesh/third_party/tetgen
	url = https://github.com/PyMesh/tetgen.git
[submodule "PyMesh/third_party/triangle"]
	path = PyMesh/third_party/triangle
	url = https://github.com/PyMesh/triangle.git
[submodule "PyMesh/third_party/qhull"]
	path = PyMesh/third_party/qhull
	url = https://github.com/PyMesh/qhull.git
[submodule "PyMesh/third_party/Clipper"]
	path = PyMesh/third_party/Clipper
	url = https://github.com/PyMesh/Clipper.git
[submodule "PyMesh/third_party/eigen"]
	path = PyMesh/third_party/eigen
	url = https://github.com/PyMesh/eigen.git
[submodule "PyMesh/third_party/quartet"]
	path = PyMesh/third_party/quartet
	url = https://github.com/PyMesh/quartet.git
[submodule "PyMesh/third_party/cgal"]
	path = PyMesh/third_party/cgal
	url = https://github.com/PyMesh/cgal.git
[submodule "PyMesh/third_party/pybind11"]
	path = PyMesh/third_party/pybind11
	url = https://github.com/PyMesh/pybind11.git
[submodule "PyMesh/third_party/geogram"]
	path = PyMesh/third_party/geogram
	url = https://github.com/PyMesh/geogram.git
[submodule "PyMesh/third_party/draco"]
	path = PyMesh/third_party/draco
	url = https://github.com/PyMesh/draco.git
[submodule "PyMesh/third_party/TetWild"]
	path = PyMesh/third_party/TetWild
	url = https://github.com/PyMesh/TetWild.git
[submodule "PyMesh/third_party/WindingNumber"]
	path = PyMesh/third_party/WindingNumber
	url = https://github.com/PyMesh/WindingNumber.git
[submodule "PyMesh/third_party/tbb"]
	path = PyMesh/third_party/tbb
	url = https://github.com/PyMesh/tbb.git
[submodule "PyMesh/third_party/libigl"]
	path = PyMesh/third_party/libigl
	url = https://github.com/PyMesh/libigl.git
[submodule "PyMesh/third_party/jigsaw"]
	path = PyMesh/third_party/jigsaw
	url = https://github.com/PyMesh/jigsaw.git
[submodule "PyMesh/third_party/spdlog"]
	path = PyMesh/third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "PyMesh/third_party/fmt"]
	path = PyMesh/third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "PyMesh/third_party/json"]
	path = PyMesh/third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "PyMesh/third_party/mmg"]
	path = PyMesh/third_party/mmg
	url = https://github.com/nuvolos-cloud/mmg.git
